@using Stx.HRM.Components.CorporateComp
@inherits PreferencePanelBase
@using Stx.Shared
@using Stx.Shared.Extensions.Common;


<EditForm Model="@BaseEntry" class="w-100">
    <DataAnnotationsValidator />

    @{
        int recId = 0;
        foreach (var entry in @PreferenceFldUIList.OrderBy(x => x.Category).ThenBy(x => x.SeqNum))
        {
            recId++;
            if (!entry.Category.Compare(CurrentCatg))
            {
                CurrentCatg = entry.Category;
                if (CurrentCatg.Compare("notif"))
                {
                    <h5 class="align-bottom mb-2 mt-3 text-theme-dark">Notification Settings</h5>
                }
                else if (CurrentCatg.Compare("Pref"))
                {
                    <h5 class="align-bottom mb-2 mt-3 text-theme-dark">Preferences</h5>
                }
            }

            <div class="border-top border-bottom-only-last">
                <div class="row py-2">
                    <div class="col-3">
                        <strong> @entry.Name</strong>
                    </div>
                    <div class="col-2 text-muted">
                        @foreach (var opt in @entry.SettOptions)
                        {
                            @if (entry.PrefUIType == "radio")
                            {
                                <label class="flex mr-2 mb-1">
                                    <input class="filter-input" type="radio" name="@($"corpsettgrp{@recId}")" value="@opt.Value"
                                           @onchange="@(x => {entry.UserValue = (string)x.Value;})"
                                           checked=@(opt.Value.Compare(entry.UserValue))>
                                    <span class="flex-grow"> &nbsp; @opt.Name </span>
                                </label>
                            }
                            else
                            {

                            }
                        }
                    </div>
                    <div class="col-7 text-muted">
                        <span> @entry.Desc  </span>
                    </div>
                </div>
            </div>
        }
        <div class="border-top"></div>
    }

    <div class="form-group float-end my-2">
        <button type="submit" @onclick="@(() => SubmitButtonClicked())" class="btn btn-primary float-end form-control"> Save Notification Settings</button>
    </div>

</EditForm>


